<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
    <a class="navbar-brand" href="/">𝒜𝓃𝒾𝓂𝒶𝓁 𝒢𝒶𝓁𝒶𝓇𝓎</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" 
            data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" 
            aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <a class="nav-link" href="/">Random</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/order/1">Order</a>
        </li>
        <li class="nav-item">
            {%if user.is_anonymous%}
            <a class="nav-link" href="/login_form">Login</a>
            {%else%}
            <a class="nav-link" href="/logout">Logout</a>
            {%endif%}
        </li>
        </ul>
    </div>
    </div>
</nav>